@import 'globals.scss';
// @import 'alerts.scss';

.fc-agendaWeek-view tr {
  height: 40px;
}

.fc-agendaDay-view tr {
  height: 40px;
}

.googlecal-font12 {
  font-size: 12px;
}

.fc-header-toolbar .fc-left h2 {
  font-size: 22px;
}

.fc-time-grid .fc-highlight {
  background-color: green;
}